<div class="container">
	<div class="row">
		<div class="col s3">
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Nombre:</strong>
			  <%= @user.nombre %>
			</p>
			<p>
			  <strong>Apellido paterno:</strong>
			  <%= @user.apellido_paterno %>
			</p>
			<p>
			  <strong>Apellido materno:</strong>
			  <%= @user.apellido_materno %>
			</p>
			<p>
			  <strong>Birthdate:</strong>
			  <%= @user.birthdate %>
			</p>

			<%= link_to 'Edit', edit_user_path(@user) %> |
			<%= link_to 'Back', users_path %>
		</div>
	</div>
</div>